<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <form method="post" action="/mem/add" th:action="@{/mem/add}" th:object="${members}">
        <p>
            <label for="accntId">아이디 : </label>
            <input id="accntId" type="text" th:field="*{accntId}">
            <button>중복 확인</button>
        </p>    
        <p>
            <label for="accntPw">비밀번호 : </label>
            <input id="accntPw" type="password"  th:field="*{accntPw}">
        </p>
        <p>
            <label for="chk_pw">비밀번호 확인 : </label>
            <input id="chk_pw" type="password" >
        </p>
        <p>
            <label for="name">이름 : </label>
            <input id="name" type="text" th:field="*{name}">
        </p>
        <p>
            <label for="birth">생년월일 : </label>
            <input id="birth" type="text" th:field="*{birth}">
        </p>
        <p>성별 :
            <th:block th:each="type : ${genderTypes}">
                <label th:text="${type.gender}" th:for="${#ids.next('gender')}"></label>
                <input type="radio" th:field="*{gender}" th:value="${type.name()}">
            </th:block>
        </p>
        <p>
            <label for="phone">휴대전화번호 : </label>
            <input id="phone" type="text" th:field=*{phone}> </p>

        <button type="submit">가입하기</button>
    </form>
    <button type="button" onclick="location.href='login.html'" th:onclick="|location.href='@{/login}'|">취소</button>

</body>
</html>