<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" href="../../static/input.css" th:href="@{/input.css}">
    <link rel="stylesheet" href="../../static/button.css" th:href="@{/button.css}">
    <style>
        .fieldError {
            font-size: 13px;
            font-weight: 900;
            border-color: #dc3545;
            color: #dc3545;
        }

        .container {
            font-family: arial;
            width: 800px;
            height: 600px;
            outline: solid 1px gainsboro;
            margin-left: auto;
            margin-right: auto;
            margin-top: 7vh;
            padding-top: 2%;
            text-align: center;
        }
        td {
            text-align: left;
        }
        table {
            margin-left: auto;
            margin-right: auto;
        }
        input::placeholder {
            font-size: 13px;
        }
    </style>


</head>

<body>

    <div class="container">

            <h1>회원 가입</h1>
            <form method="post" action="/mem/add" th:action="@{/mem/add}" th:object="${members}">

                <table>
                    <tr>
                        <td class="col">
                            <label for="accntId">아이디 </label>
                        </td>
                        <td>
                            <input id="accntId" type="text" th:field="*{accntId}" th:errorclass="fieldError" placeholder="8글자 이상 20글자 이하로 입력해주세요.">
                            <button type="button" id="overlapId" class="w-btn w-btn-green" style="width: 10;">중복 확인</button>
                            <div class="fieldError" th:errors="*{accntId}">아이디 입력 오류</div>

                        </td>
                    </tr>
                    <tr>
                        <td class="col">
                            <label for="accntPw">비밀번호 </label>
                        </td>
                        <td>
                            <input id="accntPw" type="password" th:field="*{accntPw}" th:errorclass="fieldError" placeholder="8글자 이상 20글자 이하로 입력해주세요.">
                            <div class="fieldError" th:errors="*{accntPw}">비밀번호 입력 오류</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="chk_pw">비밀번호 확인 </label>
                        </td>
                        <td>
                            <input id="chk_pw" type="password" onchange="chkPassword()" placeholder="비밀번호를 다시 한 번 입력해주세요.">
                            <div id="pwChkResult"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="col">
                            <label for="name">이름 </label>
                        </td>
                        <td>
                            <input id="name" type="text" th:field="*{name}" th:errorclass="fieldError" placeholder="이름을 입력해주세요.">
                            <div class="fieldError" th:errors="*{name}">이름 입력 오류</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="col">
                            <label for="birth">생년월일 </label>
                        </td>
                        <td>
                            <input id="birth" type="text" th:field="*{birth}" th:errorclass="fieldError" placeholder="생년월일 8글자를 입력해주세요."> ex) 19910101
                            <div class="fieldError" th:errors="*{birth}">생년월일 입력 오류</div>
                        </td>
                    </tr>


                    <tr>
                        <td class="col">
                            성별
                        </td>
                        <td>
                            <th:block th:each="type : ${genderTypes}">
                                <label th:text="${type.gender}" th:for="${#ids.next('gender')}"></label>
                                <input type="radio" th:field="*{gender}" th:value="${type.name()}" class="genderTypes">
                            </th:block>
                            <div class="fieldError" th:errors="*{gender}">성별 입력 오류</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="col">
                            <label for="phone">휴대전화번호 </label>
                        </td>
                        <td>
                            <input id="phone" type="text" th:field=*{phone} th:errorclass="fieldError" placeholder="휴대전화번호를 입력해주세요."> ex) 01012341234
                            <div class="fieldError" th:errors="*{phone}">핸드폰 번호 입력 오류</div>
                        </td>
                    </tr>
                </table>
                <div>
                    <button id="join" type="submit" class="w-btn w-btn-green">가입하기</button>
                    <button type="button" class="w-btn w-btn-green" onclick="location.href='login.html'"
                        th:onclick="|location.href='@{/login}'|">취소</button>
                </div>


            </form>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        <!--        // 비밀번호 확인-->
        function chkPassword() {
            var pw = document.getElementById('accntPw').value;
            var chkPw = document.getElementById('chk_pw').value;

            if (pw != chkPw) {
                document.getElementById("pwChkResult").innerText = "비밀번호가 일치하지 않습니다.";
                document.getElementById("pwChkResult").style.color = "#dc3545";
                $("#join").attr("type", "button");

            } else {
                document.getElementById("pwChkResult").innerText = "비밀번호가 일치합니다.";
                document.getElementById("pwChkResult").style.color = "#1E90FF";
                $("#join").attr("type", "submit");
            }
        }

    < !--        // 아이디 중복 확인-->
            $("button[id='overlapId']").click(function () {
                var accntId = $("#accntId").val();
                $.ajax({
                    type: "get",
                    async: false,
                    url: "http://localhost:8080/mem/idChk",
                    data: { accntId: accntId },
                    success: function (data) {

    < !--            // 중복 아이디 존재-->
    if (data == true) {
                            $("#overlapMsg").text("이미 사용중인 ID 입니다.").css("color", "#dc3545");
                            $("#join").attr("type", "button");
                        } else {
                            $("#overlapMsg").text("사용 가능한 ID 입니다.").css("color", "#1E90FF");
                            $("#join").attr("type", "submit");

                        }
                    }
                });
            });
    </script>
</body>

</html>