<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>글 수정하기</title>
  <style>
        .fieldError {
            border-color: #dc3545;
            color: #dc3545;
        }
  </style>
</head>
<body>
  <h1>글 수정하기</h1>
  <!--action 값이 지정되지 않으면 현재 페이지에 값을 줘서 리로드하게 됨-->
  <form method="post" th:action th:object="${posts}" >
    <p>
      <input type="text" placeholder="제목을 입력해주세요." th:field="*{header}" th:errorclass="fieldError" >
      <div class="fieldError" th:errors="*{header}">제목 오류</div>
    </p>
    <p>
      <textarea placeholder="내용을 입력해주세요." rows="20" th:field="*{content}" th:errorclass="fieldError"></textarea>
      <div class="fieldError" th:errors="*{content}">내용 오류</div>
    </p>
    <p>
      <button type="submit">완료</button>
      <button type="button" onclick="history.back();">취소</button>
      <!--(+)취소 버튼 눌렀을 때 바로 post 페이지로 이동할 수 있게 만들기-->
    </p>
  </form>
</body>
</html>